
/*======= font =========*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/*========== vars =======*/

:root{
  --primary:#162782;
  --secondary:#0585CA;
  --sec:#F7BE16;
  --btn:#DC9828;
  --white: #fff;
  --card:#FAFAFA;
  --black: #000;
  --grey:#6D6D6D;
  --light-white: #929292;
}



/*======= global ========== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style : none !important;
  outline: none;
  border: none;
  font-family: 'Tajawal', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body{
  direction: rtl;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

a{
  color: var(--black);
}
a:hover{
  color: var(--black);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding-block: 3rem 0;
  margin-block: 3rem;
}


.white-space{
  white-space: pre-line !important;
}



.sec-title{
  font-weight: bold;
  margin-bottom: 1.5rem;
  -webkit-padding-start: 3.5rem;
          padding-inline-start: 3.5rem;
  color: var(--sec);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;

  &::after{
    content: '';
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 40px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    border-radius: 999px;
    background-color: var(--sec);
  }
}

.heading-title{
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
}
.heading-title.width{
  max-width: 40%;
}

@media (max-width: 991px){
  .heading-title.width{
    max-width: 90%;
  }
}



.desc{
  color: var(--light-white);
}


.btn{
  padding: .5rem 3rem;
  border-radius: 38px;
  font-weight: bold;
  transition: .3s;
  font-size: 1.2rem;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}

.main-btn{
  background: transparent linear-gradient(90deg, #F7BE16 0%, #DC9828 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #F7BE16;

  color: var(--white);
}

.main-btn:hover{
  border-radius: 38px 1px 38px 1px ;
  color: var(--white);
}






.link-btn{
  color: var(--primary);
  text-decoration: underline !important;
  font-weight: bold;
  transition: .3s;
  font-size: 1.2rem;
}



.mobile-img{
  /* aspect-ratio: 4/4; */
  img{
    -o-object-fit: contain;
       object-fit: contain;
        aspect-ratio: 4 / 5;
  }
}

.form-control {
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #FCFCFC;
  color: var(--grey);
  border: 1px solid #FCFCFC;
  border-radius: 10px;
}

.form-control:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: none;
  background-color: var(--white);
  color: var(--primary);
}

.form-control::-webkit-input-placeholder{
  color: var(--light-white);
}

.form-control::-moz-placeholder{
  color: var(--light-white);
}

.form-control:-ms-input-placeholder{
  color: var(--light-white);
}

.form-control::-ms-input-placeholder{
  color: var(--light-white);
}

.form-control::placeholder{
  color: var(--light-white);
}




.for-mobile{
  display: none;
}
.for-pc{
  display: flex;
}
@media(max-width: 991px){
  .for-pc{
    display: none !important;
  }
  .for-mobile{
    display: flex !important;
  }
}





/*===============================
==============================*/


/**===============================
  ==============* RTL *===========
===============================**/
html[dir = ltr]{
  body{
    direction: ltr;
  }
}
html[dir='rtl'] [type=email],
html[dir='rtl'] [type=number],
html[dir='rtl'] [type=tel],
html[dir='rtl'] [type=url] {
  direction: rtl;
}
/**===============================
  ================================
=============================== **/


/**===============================================================
  ==========================* header *============================
===============================================================**/

.lang-select{
  background: transparent;
  border: none;
  color: var(--primary);
}

.lang-select .list{
  color: var(--primary);
}
.lang-select .list .selected{
  color: var(--secondary);
}


header{
  /* background: url("../images/header-v1.png") !important; */
  height: 100vh;
  background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;  
    background: linear-gradient(to bottom, var(--primary) , var(--secondary));
    padding-bottom: 10rem;
    border-radius: 0 0 0 300px;
    position: relative;
}

  .main-layer{
    position: absolute;
    inset: 0;
  }

header .hero-title{
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.5rem;
}
header .content-first{
  font-weight: bold;
  font-size: 1.7rem;
}
header .content-seconed{
  color: var(--white);
  font-weight: 500;
  max-width: 600px;
  font-size: 1.1rem;
  margin: 1rem 0;
}
header .content-third{
  color: var(--white);
  font-weight: 300;
  opacity: .9;
}




.navbar .navbar-brand{
  width: 200px;
  margin: 0;
  img{
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media(max-width:1024px){
  .navbar .navbar-brand{
    width: 170px;
  }
}



.navbar a.nav-link{
  color: var(--black);
  position: relative;
  transition: .3s;
  text-align: center;
  padding-right: .3rem;
  padding-left: .3rem;
  font-size: 1rem;
}

@media(min-width:1440px){
  .navbar a.nav-link{
    font-size: 1rem;
  }
}

.navbar .navbar-nav{
  gap: .7rem;
}

@media(max-width: 1024px){
  .navbar .navbar-nav{
    gap: 0rem;
  }
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--primary);
  font-weight: bold;
}





.navbar .navbar-toggler{
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  padding: 0;
  /* margin: 0; */
  font-size: 1.5rem;
  color: var(--secondary);
}

.navbar .navbar-collapse{
  display: flex;
  justify-content: center;
}

.download-links a{
  max-width: 108px;
  /* height: 50px; */

  img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media(min-width:1440px){
  .download-links a{
    max-width: 150px;
  }
}


@media(max-width:1024px){
  .download-links a{
    max-width: 100px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .4rem;
    padding-left: .4rem;
    font-size: .8rem;
}
}


/**===============================================================
  ================================================================
===============================================================**/



/**========================================================================
==========================* main *=======================================
========================================================================**/

/*========== why us ===========*/

  .why-us{
    .card{
      border: none;
      background-color: var(--card);
      height: 100%;
      text-align: center;
      border-radius: 34px;
      padding: 4rem 2rem 2rem 2rem ;
      position: relative;

      .img{
        position: absolute;
        top: -40px;
        inset-inline-start: 50%;
        transform: translateX(50%);
        width: 80px;
        height: 80px;
        background: var(--white);
        border-radius: 25px;
        align-content: center;
        box-shadow: 0px 3px 6px #00000029;
        overflow: hidden;

        img{
          -o-object-fit: contain;
             object-fit: contain;
             max-width: 70%;
             margin: auto;
        }
      }

      .content{
        flex-grow: 1;
        max-width: 80%;
        margin: auto;

        .title{
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 1rem;
          flex-shrink: 1;
          color: var(--primary);
        }

        p{
          color: var(--black);
        }
      }


    }
  }




/*========== results ===========*/

.results {

  .img-sec{
    aspect-ratio: 3/4;
    img{
      -o-object-fit: contain;
         object-fit: contain;
    }
  }

  .results-items .result{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
    
    .img{
      box-shadow: 0px 3px 6px #00000029;
      flex-shrink: 0;
      background-color: var(--white);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
      overflow: hidden;
      img{
        -o-object-fit: contain;
         object-fit: contain;
         width: 50%;
          margin: auto;
         transition: .7s;
      }
    }
    .content{
      .title{
        margin-bottom: .6rem;
        color: var(--primary);
      }
      p{
        color: var(--black);
      }
    }
  }
}



.results .results-items .result:hover .img img{
  transform: scale(1.1) rotate(360deg);
}



/*===============================*/




/*=========joureny ===========*/


.joureny{
  background: linear-gradient(to bottom, var(--primary) , var(--secondary));
}

















.screens{
  background: url("../images/screens-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25rem 0 3rem 0;

  .sec-title::after{
    margin: .5rem auto 0 auto;
  }
}
.swiper{
  padding: 4rem 0 0rem 0;
}



/*=========================================*/





/*========== contact ===========*/


.contact {
  .sec-title::after{
    margin: .5rem auto 0 auto;
  }
  form{
    box-shadow: 0px 0px 15px #51515121;
    border-radius: 44px;
    padding: 4rem;
    

    textarea{
      height: 200px;
      resize: none;
    }
  }
}
@media(max-width: 625px){
  .contact {

    form{
      padding: 1rem;
      

    }
  }
}
  




/* ============================= */














/**========================================================================
  =========================================================================
========================================================================**/






/**===============================================================
  ==========================* footer *============================
===============================================================**/





footer{
  background: url("../images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0 0rem 0 ;

}

footer .footer-logo{
  display: block;
  max-width: 500px;
  margin: 0 auto;
  img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
footer .navbar-nav{
  margin: 3rem 0 !important;
}
footer .navbar-nav .nav-link{
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  transition: .3s;
  &.active{
    color: var(--primary);
    font-weight: bold;
  }
}


@media(max-width:991px){
  footer .style{
    width: 80%;
  }
}


footer .rights{
  background: url("../images/copyrightbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2rem;
  font-weight: bold;
  padding:26px 0;
  color: var(--white);
  background-size: 100% 100%;
}


footer .smartV-link{
  display: flex;
  align-items: center;
  text-align: center;
  gap: .5rem;
  flex-wrap: wrap-reverse;
  font-size: .8rem;
  img{
    width: 150px;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  span{
    margin: auto;
  }
}



/**===============================================================
  ================================================================
===============================================================**/



.nice-select:after {
  right: unset;
  inset-inline-end: 12px;
  border-color: var(--primary);

}



.nice-select {

  -webkit-padding-start: 18px;

          padding-inline-start: 18px;
  -webkit-padding-end: 30px;
          padding-inline-end: 30px;
}





.navbar .navbar-collapse .for-mobile{
  display: none;
}

/**====================================
  ===========* media queries *=========
====================================**/

@media (max-width: 1280px) {
  #hero .header-img .main-layer{
    width: 70%;
    inset-inline-start: 10rem;
    top: -4rem;
  }

}

@media (max-width: 1040px) {
  /* header.header-home{
    height: auto !important;
  } */

}

@media (max-width: 991px) {
  #hero{
    margin-top: 5rem;
  }
  #hero .header-img {
    aspect-ratio: 6/5;
    position: relative;
}

  
  
  #hero .header-img .main-layer{
    width: 70%;
    inset-inline-start: 7rem;
    top: -4rem;
  }
  .contact .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar .navbar-nav .nav-item .nav-link.active:after, .navbar .navbar-nav .nav-item .nav-link:after {

  inset-inline-end: 60%;
}
.navbar .navbar-collapse .for-mobile{
  display: flex;
}

.navbar .navbar-brand {
  width: 180px;
}

.navbar .navbar-collapse{
  position: fixed;
  top: 0;
  inset-inline-end: -100%;
  width: 50%;
  height: 100vh;
  z-index: 99999;
  background: var(--white);
  justify-content: unset;
  flex-direction: column;
  transition: .3s;
  padding: 1.5rem;
}
.navbar .navbar-collapse .navbar-nav{
  gap: 1rem;
}
.navbar .navbar-collapse.active{
  inset-inline-end: 0;
}


}


@media (max-width: 768px) {
  #hero{
    margin-top: 3rem;
  }
}


@media (max-width: 625px) {
  
  .navbar .navbar-collapse{
    width: 100%;

  }
  #hero{
    margin-top: 2rem;
  }
  #hero .header-img .main-layer{
    width: 95%;
    inset-inline-start: 0rem;
    top: 0rem;
  }

  footer .rights-links{
    margin: .5rem auto;
  }

.contact .form {
  padding: 2rem 1rem;
}
}


/**====================================
  =====================================
=================================== **/