
/*======= font =========*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/*========== vars =======*/

:root{
  --primary:#162782;
  --secondary:#0585CA;
  --sec:#F7BE16;
  --btn:#DC9828;
  --white: #fff;
  --card:#FAFAFA;
  --black: #000;
  --grey:#6D6D6D;
  --light-white: #929292;
}



/*======= global ========== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style : none !important;
  outline: none;
  border: none;
  font-family: 'Tajawal', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
  background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

body{
  direction: rtl;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

a{
  color: var(--black);
}
a:hover{
  color: var(--black);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding-block: 3rem 0;
  margin-block: 5rem;
}


.white-space{
  white-space: pre-line !important;
}



.sec-title{
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-padding-start: 3.5rem;
          padding-inline-start: 3.5rem;
  color: var(--sec);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;

  &::after{
    content: '';
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 40px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    border-radius: 999px;
    background-color: var(--sec);
  }
}

.heading-title{
  color: var(--black);
  /* font-size: 1.2rem; */
  font-weight: 400;
}
.heading-title.width{
  max-width: 40%;
}

@media(max-width:625px){
  .sec-title{
    -webkit-padding-start: 2.5rem;
            padding-inline-start: 2.5rem;
    font-size: 1.3rem;
  
    &::after{
      width: 30px;
    }
  }




  .heading-title.width{
    max-width: 90%;
  }





}






.desc{
  color: var(--light-white);
}


.btn{
  padding: .5rem 3rem;
  border-radius: 38px;
  font-weight: bold;
  transition: .3s;
  font-size: 1rem;
}
@media(max-width: 991px){
  .btn {
    padding: .3rem 1.5rem;
}
}
.btn:focus{
  outline: none;
  box-shadow: none;
}

.main-btn{
  background: transparent linear-gradient(90deg, #F7BE16 0%, #DC9828 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #F7BE16;

  color: var(--white);
}

.main-btn:hover{
  border-radius: 38px 1px 38px 1px ;
  color: var(--white);
}






.mobile-img{
  /* aspect-ratio: 4/4; */
  img{
    -o-object-fit: contain;
       object-fit: contain;
        aspect-ratio: 4 / 5;
  }
}

.form-control {
  width: 100%;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey);
  background: transparent;
  border-color: transparent;
  flex-grow: 1;
}

.form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  color: var(--light-white);
}



/* .form-control::placeholder{
  color: var(--light-white);
} */


.form-group{
  border: 1px solid var(--light-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .2rem .8rem;
label{
  color: var(--light-white);
  font-size: .9rem;
  font-weight: 500;
}
i{
  color: var(--light-white);
  font-size: 1.3rem;
}


}











.for-mobile{
  display: none;
}
.for-pc{
  display: flex;
}
@media(max-width: 991px){
  .for-pc{
    display: none !important;
  }
  .for-mobile{
    display: flex !important;
  }
}





/*===============================
==============================*/


/**===============================
  ==============* RTL *===========
===============================**/
html[dir = ltr]{
  body{
    direction: ltr;
  }
}
html[dir='rtl'] [type=email],
html[dir='rtl'] [type=number],
html[dir='rtl'] [type=tel],
html[dir='rtl'] [type=url] {
  direction: rtl;
}
/**===============================
  ================================
=============================== **/


/**===============================================================
  ==========================* header *============================
===============================================================**/



header{
  /* height: 100vh; */
  background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;  
    background: linear-gradient(to bottom, var(--primary) , var(--secondary));
    padding-bottom: 1rem;
    border-radius: 0 0 0 300px;
    position: relative;
}

  .main-layer{
    position: absolute;
    inset: 0;
  }

header .hero-title{
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.4rem;
}
header .content-first{
  font-weight: bold;
  font-size: 1.4rem;
}
header .content-seconed{
  color: var(--white);
  font-weight: 400;
  /* max-width: 800px; */
  margin: 1rem 0;
}
header .content-third{
  color: var(--white);
  font-weight: 300;
  opacity: .9;
}

header .header-img img{
  -webkit-filter: drop-shadow(100px 40px 25px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(100px 40px 25px rgba(0, 0, 0, 0.2));
}


.navbar .navbar-brand{
  width: 200px;
  margin: 0;
  img{
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media(max-width:1024px){
  .navbar .navbar-brand{
    width: 150px;
  }
}
@media(max-width:525px){
  .navbar .navbar-brand{
    width: 110px;
  }
}












/**===============================================================
  ================================================================
===============================================================**/



/**========================================================================
==========================* main *=======================================
========================================================================**/

/*========== why us ===========*/

  .why-us{
    .card{
      border: none;
      background-color: var(--card);
      height: 100%;
      text-align: center;
      border-radius: 34px;
      padding: 4rem 2rem 2rem 2rem ;
      position: relative;

      .img{
        position: absolute;
        top: -40px;
        inset-inline-start: 50%;
        transform: translateX(50%);
        width: 80px;
        height: 80px;
        background: var(--white);
        border-radius: 25px;
        align-content: center;
        box-shadow: 0px 3px 6px #00000029;
        overflow: hidden;

        img{
          -o-object-fit: contain;
             object-fit: contain;
             max-width: 70%;
             margin: auto;
        }
      }

      .content{
        flex-grow: 1;
        max-width: 80%;
        margin: auto;

        .title{
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 1rem;
          flex-shrink: 1;
          color: var(--primary);
        }

        p{
          color: var(--black);
        }
      }


    }
  }

  @media(max-width:1024px){
    .why-us{
      .card{
        padding: 4rem 1.5rem 1.5rem 1.5rem ;
        .content{
          max-width: 100%;
  
          .title{
            font-size: 1.2rem;
          }
  
        }
  
  
      }
    }
}
@media(max-width:625px){
  .why-us{
    .card-main{
      margin-top: 5rem;
    }
  }
}


/*========== results ===========*/

.results {

  .img-sec{
    aspect-ratio: 3/4;
    img{
      -o-object-fit: contain;
         object-fit: contain;
    }
  }

  .results-items .result{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
    
    .img{
      box-shadow: 0px 3px 6px #00000029;
      flex-shrink: 0;
      background-color: var(--white);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
      overflow: hidden;
      img{
        -o-object-fit: contain;
         object-fit: contain;
         width: 50%;
          margin: auto;
         transition: .7s;
      }
    }
    .content{
      .title{
        margin-bottom: .6rem;
        color: var(--primary);
      }
      p{
        color: var(--black);
      }
    }
  }
}



.results .results-items .result:hover .img img{
  transform: scale(1.1) rotate(360deg);
}



/*===============================*/

/*========= projects ==============*/


.projects{
  .project{
    aspect-ratio: 4/4;
    overflow: hidden;
    border-radius: 57px;
    img{
      -o-object-fit: cover;
         object-fit: cover;
      transition: .3s;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}






/*=========joureny ===========*/


.joureny{
  background: linear-gradient(to bottom, var(--primary) , var(--secondary));
  background-attachment: fixed;
  padding: 6rem 0;
  counter-reset: item;
.content-container{
  counter-increment: item;
  &:not(:last-child) .content::after{
    content: url("../images/arrow.png");
    display: block;
    position: absolute;
    top: 15%;
    inset-inline-end: 0;
  }
}
  .content{
    color: var(--white);
    padding: 2rem 0;
    position: relative;
    .title{
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: .8rem;
    }
    p{
      font-weight: 300;
    }
    &::before{
      content: counter(item);
      display: block;
      width: 50px;
      height: 50px;
      font-size: 1.1rem;
      font-weight: 500;
      border-radius: 40%;
      align-content: center;
      text-align: center;
      background: var(--white);
      color: var(--black);
      margin-bottom: .8rem;
    }
  }
  

}

@media(max-width:625px){
  .joureny {
    & .content-container {
        &:not(:last-child) .content::after {
            top: 100%;
            inset-inline-end: -4rem;
            transform: rotate(270deg);
        }
    }
    .content{
      position: relative;
      -webkit-padding-end: 3rem;
              padding-inline-end: 3rem;
    }
}


}

.swiper{
  padding: 4rem 0 0rem 0;
}



/*=========================================*/
.shape-heading {
  display: block;
  background: transparent;
  overflow: hidden;
  margin: 0 auto;
  width: 34.68px;
  height: 40.05px;
  -khtml-transform: rotate(0deg) skewY(30deg);
  transform: rotate(0deg) skewY(30deg);
  margin: 13px 0 14px;
  /* inset-inline-start: -1rem; */
}
.shape-heading:before {
  transform: skewY(-30deg) rotate(60deg) translate(0);
  display: block;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(45deg, #11365a, #1da1f2);
  background-size: auto;
  background-size: cover;
  content: "";
}
/* =========== contact ================ */
.contact{
  background: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-block: 5rem;
  scroll-margin-top:5rem ;
  position: relative;


  .title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid var(--light-white);
    position: relative;

    .shape-container{
      position: absolute;
      top: 0%;
      inset-inline-start: -1rem;
      &:before{
        display: block;
        content: '';
        width: 2px;
        height: 30px;
        margin: auto;
        background: var(--light-white);
      }
      &:after{
        display: block;
        content: '';
        width: 2px;
        height: 30px;
        margin: auto;
        background: var(--light-white);
      }
    }




    .title{
      font-size: 2rem;
      font-weight: 500;
      -webkit-margin-start: 1.5rem;
              margin-inline-start: 1.5rem;
              margin-top: 2rem;
    }
  }

  .contact-items{
    margin-top: 7rem;
    .contact-item{
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
      .icon{
        background: linear-gradient(to right, var(--primary) , var(--secondary));
        color: var(--white);
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        
        
        border-radius: 15px;
        width: 50px;
        height: 50px;
        box-shadow: 0px 3px 6px #00000029;
        img{
          -o-object-fit: contain;
             object-fit: contain;
        }
      }
      .content{
        /* color: var(--white); */
        .title{
          /* font-size: 1.2rem; */
          font-weight: 500;
          margin-bottom: .5rem;
        }
        p{
          font-weight: 300;
          color: var(--light-white);
          font-size: 1.1rem;
        }
        a{
          color: blue !important;
        }
    }
  }
  }
  .man-img{
    margin: 0px 33px 0px -46px;
    position: relative;
    z-index: 2;
    img{
      -o-object-fit: contain;
         object-fit: contain;
    }
  }


  form{
    background: var(--white);
    padding: 3rem 4rem;
  }


}

@media(max-width:991px){
  .contact form{
    padding: 3rem 1.5rem;
  }
}

/* ========= ideas ===========*/

.ideas{
  .swiper-slide{
    border-radius: 57px;
    overflow: hidden;
    aspect-ratio: 4/4;
    img{
      -o-object-fit: cover;
         object-fit: cover;
      transition: .3s;
    }
  }
}

/*===============================*/


/*======= modal =============*/

.modal-content{
  border-radius: 34px;
  padding: 2rem;
}

@media (min-width: 991px) {
  .modal-dialog {
      max-width: 900px;
      margin: 1.75rem auto;
  }
}
@media (max-width: 625px) {
  .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
  }
}

#modal-swiper img{
  aspect-ratio: 4/3;
}





/**========================================================================
  =========================================================================
========================================================================**/






/**===============================================================
  ==========================* footer *============================
===============================================================**/





footer{
  background: url("../images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0 0rem 0 ;

}

footer .footer-logo{
  display: block;
  max-width: 500px;
  margin: 0 auto;
  img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}






footer .rights{
  background: url("../images/copyrightbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2rem;
  font-weight: 500;
  padding: 30px 0;
  color: var(--white);
  background-size: 100% 100%;
}





/**===============================================================
  ================================================================
===============================================================**/




/**====================================
  ===========* media queries *=========
====================================**/

@media (max-width: 1280px) {
 

}

@media (max-width: 1040px) {
 

}

@media (max-width: 991px) {
    header{
      padding-bottom: 3rem;
      border-radius: 0 0 0 200px;
      height: auto;
    }

 




}


@media (max-width: 768px) {

}


@media (max-width: 625px) {
  



}


/**====================================
  =====================================
=================================== **/